@tailwind base;
@tailwind components;
@tailwind utilities; 
@layer utilities {
  .hidden-scrollbar {
    -ms-overflow-style: none; /* Edge 対応 */
    scrollbar-width: none;
  }
  .hidden-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome Safari 対応 */
  }
}